<web-app>  
  
<servlet>  
	<servlet-name>Ronak</servlet-name>  
	<servlet-class>DemoServlet</servlet-class>
</servlet>  

<servlet-mapping>  
		<servlet-name>Ronak</servlet-name>  
		<url-pattern>/index</url-pattern>  
</servlet-mapping>

<servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
</servlet-mapping>  
  
</web-app>  